@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cantora+One&family=Combo&family=Francois+One&family=Fredoka:wght@500&family=Oswald:wght@300&family=Questrial&family=Roboto+Slab:wght@600&family=Signika+Negative:wght@300&family=Titan+One&display=swap');

/* Barra de navegación para todas las páginas */

.FondoNav {
    background-color: #365486;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    font-family: 'Combo', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
}

/* .Naveg {
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
}

.navbar-right table {
    width: 95%;
}

.navbar-right th {
    text-align: right;
}

.navbar-right th:first-child {
    text-align: left;
} */


/* Página principal (index.html) */

.Contenido {
    margin-left: 80px;
    margin-right: 80px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.TituloPrincipal {
    color: #B31312;
    font-size: 120px;
    font-family: 'Titan One', sans-serif;
    text-align: center;
}

.flex-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-column {
    flex: 1;
    text-align: center;
}

.Texto1 {
    font-size: 25px;
    font-family: 'Fredoka', sans-serif;
    color: black;
}

.CopyR {
    text-align: right;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
}

.BotonSig {
    border: transparent;
    border-radius: 10px;
    height: 50px;
    background-color: #C7D9DD;
    font-family: 'Combo', sans-serif;
    font-size: 30px;
    display: block;
    margin-left: auto; 
    margin-right: 20px;
    text-align: right;
    text-decoration: none;
    color: black;
}

/* Página 2 (Carta.html) */

.TituloCarta {
    color: #B31312;
    font-size: 90px;
    font-family: 'Titan One', sans-serif;
    text-align: left;
    margin-left: 50px;
    padding-top: 30px;
}

.Texto2 {
    font-size: 25px;
    font-family: 'Fredoka', sans-serif;
    color: black;
    text-align: center;
    margin-right: 50px;
}

.BotonAtras {
    border: transparent;
    border-radius: 10px;
    height: 50px;
    background-color: #C7D9DD;
    font-family: 'Combo', sans-serif;
    font-size: 30px;
    display: block;
    margin-left: 20px; 
    margin-right: auto;
    text-decoration: none;
    color: black;
}


/* Página 3 (Fotos.html) */

.Texto3 {
    font-size: 25px;
    font-family: 'Fredoka', sans-serif;
    color: black;
    text-align: center;
}

/* Página 4 (Date.html) */

.BotonDate {
    border: transparent;
    border-radius: 10px;
    height: 80px;
    background-color: #C7D9DD;
    font-family: 'Combo', sans-serif;
    font-size: 50px;
}

.BotonDate2 {
    border: transparent;
    border-radius: 10px;
    height: 80px;
    background-color: #C7D9DD;
    font-family: 'Combo', sans-serif;
    font-size: 50px;
    margin-top: 100px;
}

.BotonDate:hover, .BotonSig:hover, .BotonAtras:hover, .Date:hover, .Atras:hover, .Sig:hover {
    background-color: #2DAA9E;
    color: white;
    box-shadow: 0 0 5px #2DAA9E, 0 0 25px #2DAA9E, 0 0 50px #2DAA9E, 0 0 100px #2DAA9E, 0 0 300px #2DAA9E;
}

.Date, .Atras, .Sig {
    text-decoration: none;
    color: black;
}

.BotonDate3 {
    border: transparent;
    border-radius: 50px;
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .team, .project-list {
        flex-direction: column;
        align-items: center;
    }

    .profile, .project {
        margin-bottom: 30px;
    }
}
